<template>
  <div class="container">
    <div class="text-center" style="margin: 20px 0px 20px 0px"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="d-flex">
        <div class="navbar-nav justify-content-center">
          <router-link to="/" class="nav-item nav-link">Home</router-link>
          <router-link to="/sale/list" class="nav-item nav-link">Sale List</router-link>
          <router-link to="/item/list" class="nav-item nav-link">List Item</router-link>
          <router-link to="/item/create" class="nav-item nav-link"
            >Create Item</router-link
          >

          <router-link to="/customer/list" class="nav-item nav-link"
            >Customer List</router-link
          >

          <router-link to="/customer/create" class="nav-item nav-link"
            >Customer Create</router-link
          >

        </div>
      </div>
    </nav>
    <br />
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>
