<template>
  <div>
    <h3 class="text-center">Create Customer</h3>
    <div class="row">
      <div class="col-md-6">
        <form @submit.prevent="addCustomer">
          <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" v-model="customer.nama" />
          </div>

          <div class="form-group">
            <label>Contact</label>
            <input
              type="text"
              class="form-control"
              v-model="customer.contact"
            />
          </div>

          <div class="form-group">
            <label>Alamat</label>
            <input type="text" class="form-control" v-model="customer.alamat" />
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" v-model="customer.email" />
          </div>

          <div class="form-group">
            <label>Diskon</label>
            <input
              type="number"
              class="form-control"
              v-model="customer.diskon"
            />
          </div>

          <div class="form-group">
            <label>Tipe Diskon</label>
            <select v-model="customer.tipe_diskon" class="form-control">
              <option disabled value="">Please select Tipe Diskon</option>
              <option value="persentase">Persentase</option>
              <option value="fix_discount">Fix Discount</option>
            </select>
          </div>
          <div class="form-group">
            <label>Ktp</label>
            <br />
            <input type="file" @change="processFile($event)" />
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customer: {
        nama: "",
        contact: "",
        email: "",
        alamat: "",
        diskon: "",
        ktp: "",
        tipe_diskon: "",
      },
    };
  },
  methods: {
    addCustomer() {
      const formData = new FormData();
      formData.append("nama", this.customer.nama);
      formData.append("contact", this.customer.contact);
      formData.append("email", this.customer.email);
      formData.append("alamat", this.customer.alamat);
      formData.append("diskon", this.customer.diskon);
      formData.append("ktp", this.customer.ktp);
      formData.append("tipe_diskon", this.customer.tipe_diskon);
      this.axios
        .post("http://localhost:8000/api/customer/create", formData)
        .then((response) => {
          if (response.data.success) {
            this.$router.push({ name: "customer-list" });
          } else {
            console.log(response.data);
          }
        })
        .catch((err) => console.log(err))
        .finally(() => (this.loading = false));
    },
    processFile(event) {
      console.log(event);
      this.customer.ktp = event.target.files[0];
      console.log(this.customer.ktp);
    },
  },
};
</script>
