<template>
  <div>
    <h3 class="text-center">Create Product</h3>
    <div class="row">
      <div class="col-md-6">
        <form @submit.prevent="addProduct">
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              v-model="product.nama_item"
            />
          </div>

          <div class="form-group">
            <label>Stok</label>
            <input type="number" class="form-control" v-model="product.stok" />
          </div>

          <div class="form-group">
            <label>Harga Satuann</label>
            <input
              type="number"
              class="form-control"
              v-model="product.harga_satuan"
            />
          </div>

          <div class="form-group">
            <label>Unit</label>
            <select v-model="product.unit" class="form-control">
              <option disabled value="">Please select unit</option>
              <option value="kg">KG</option>
              <option value="pcs">PCS</option>
            </select>
          </div>
          <div class="form-group">
            <label>Barang</label>
            <br />
            <input type="file" @change="processFile($event)" />
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      product: {
        barang: "",
        nama_item:"",
        stok:"",
        harga_satuan:"",
        unit:"",

      },
    };
  },
  methods: {
    addProduct() {
      const formData = new FormData();
      formData.append("barang",this.product.barang)
      formData.append("nama_item",this.product.nama_item)
      formData.append("stok",this.product.stok)
      formData.append("harga_satuan",this.product.harga_satuan)
      formData.append("unit",this.product.unit)
      this.axios
        .post("http://localhost:8000/api/item/create", formData)
        .then((response) => this.$router.push({ name: "home" }))
        .catch((err) => console.log(err))
        .finally(() => (this.loading = false));
    },
    processFile(event) {
      console.log(event);
      this.product.barang = event.target.files[0];
      console.log(this.product.barang);
    },
  },
};
</script>
