<template>
  <div>
    <h2 class="text-center">customers List</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Alamat</th>
          <th>Diskon</th>
          <th>Tipe Diskon</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="customer in customers" :key="customer.id">
          <td>{{ customer.id }}</td>
          <td>{{ customer.nama }}</td>
          <td>{{ customer.contact }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.alamat }}</td>
          <td>{{ customer.diskon }}</td>
          <td>{{ customer.tipe_diskon }}</td>
          <td>
            <div class="btn-group" role="group">
              <router-link
                :to="{ name: 'customer-edit', params: { id: customer.id } }"
                class="btn btn-success"
                >Edit</router-link
              >
              <button
                class="btn btn-danger"
                @click="deletecustomer(customer.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      customers: [],
    };
  },
  created() {
    this.axios.get("http://localhost:8000/api/customer/").then((response) => {
      this.customers = response.data.data.list;
      console.log(response);
    });
  },
  methods: {
    deletecustomer(id) {
      this.axios
        .delete(`http://localhost:8000/api/customer/delete/${id}`)
        .then((response) => {
          let i = this.customers.map((data) => data.id).indexOf(id);
          this.customers.splice(i, 1);
        });
    },
  },
};
</script>
