<template>
  <div>
    <h2 class="text-center">Products List</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama Item</th>
          <th>Unit</th>
          <th>stok</th>
          <th>Harga Satuan</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td>{{ product.id }}</td>
          <td>{{ product.nama_item }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.stok }}</td>
          <td>{{ product.harga_satuan }}</td>
          <td>
            <div class="btn-group" role="group">
              <router-link
                :to="{ name: 'edit-item', params: { id: product.id } }"
                class="btn btn-success"
                >Edit</router-link
              >
              <button class="btn btn-danger" @click="deleteProduct(product.id)">
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [],
    };
  },
  created() {
    this.axios.get("http://localhost:8000/api/item/").then((response) => {
      this.products = response.data.data.list;
      console.log(response);
    });
  },
  methods: {
    deleteProduct(id) {
      this.axios
        .delete(`http://localhost:8000/api/item/delete/${id}`)
        .then((response) => {
          let i = this.products.map((data) => data.id).indexOf(id);
          this.products.splice(i, 1);
        });
    },
  },
};
</script>
