<template>
  <div>
    <h3 class="text-center">Sale Point</h3>
    <div class="row">
      <div class="col-md-4 d-flex">
        <table class="table">
          <thead>
            <tr>
              <th colspan="5">
                <div class="form-group">
                  <label>Tipe Diskon</label>
                  <select
                    class="form-control"
                    @change="customerChange($event)"
                    v-model="customer_id"
                  >
                    <option
                      v-for="customer in customers"
                      :key="customer.id"
                      :value="customer.id"
                    >
                      {{ customer.nama }}
                    </option>
                  </select>
                </div>
              </th>
            </tr>
            <tr>
              <th scope="col">Nama Produk</th>
              <th scope="col">Qty</th>
              <th scope="col">Harga</th>
              <th scope="col">Nominal</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              style="height: 10px"
              v-for="cart in carts"
              :key="cart.product_id"
            >
              <td>{{ cart.nama }}</td>
              <td>{{ cart.qty }}</td>
              <td>{{ cart.harga }}</td>
              <td>{{ cart.nominal }}</td>
              <td>
                <button
                  class="btn btn-danger"
                  @click="deleteItem(cart.product_id)"
                >
                  x
                </button>
              </td>
            </tr>
            <tr>
              <th colspan="4">Subtotal</th>
              <th>{{ sub_total }}</th>
            </tr>

            <tr>
              <th colspan="4">Diskon</th>
              <th>{{ diskon }}</th>
            </tr>

            <tr>
              <th colspan="4">Grand Total</th>
              <th>{{ grand_total }}</th>
            </tr>
            <tr>
              <td class="text-center">
                <button class="btn btn-danger" @click="bayar()">Bayar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8 d-flex">
        <div class="card-columns">
          <div class="card" v-for="product in products" :key="product.id">
            <img
              class="card-img-top"
              :src="product.barang"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.nama_item }}</h5>
              <div class="card-text">
                <p>Harga : {{ product.harga_satuan }}</p>
                <p>Stok : {{ product.stok }}</p>
              </div>
              <button class="btn btn-danger" @click="addToCart(product.id)">
                Add to cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [],
      carts: [],
      customers: [],
      customer_id: "",
      sub_total: "",
      diskon: 0,
      grand_total: "",
      customer_selected: false,
      pesanan: {
        customer_id: "",
        item: [],
        qty: "",
        total_diskon: "",
        total_harga: "",
        total_bayar: "",
      },
    };
  },
  created() {
    this.axios.get("http://localhost:8000/api/item/").then((response) => {
      this.products = response.data.data.list;
      console.log(this.products);
    });
    this.axios.get("http://localhost:8000/api/customer/").then((response) => {
      this.customers = response.data.data.list;
      console.log(response);
    });
  },
  methods: {
    addToCart(id) {
      let i = this.products.map((data) => data.id).indexOf(id);
      let product = this.products[i];
      let cart = {
        product_id: product.id,
        qty: 1,
        harga: product.harga_satuan,
        stok: product.stok,
        unit: product.unit,
        nama: product.nama_item,
        nominal: product.harga_satuan * 1,
      };
      var cartId = "-1";
      if (this.carts.length > 0) {
        cartId = this.carts
          .map((data) => data.product_id)
          .indexOf(cart.product_id);

        if (cartId != "-1") {
          if (this.carts[cartId].stok - (this.carts[cartId].qty + 1) >= 0) {
            let qty = this.carts[cartId].qty + 1;
            let nominal = parseInt(this.carts[cartId].harga) * parseInt(qty);
            console.log(this.carts[cartId].nominal, "harga_satuan");
            this.carts[cartId].qty = qty;
            this.carts[cartId].nominal = nominal;
          } else {
            alert("stok tidak mencukupi");
          }
        }
      }

      if (cartId == "-1") {
        this.carts.push(cart);
      }
      this.adjustDiscount();

      console.log(this.carts);
    },
    deleteItem(id) {
      let i = this.carts.map((data) => data.product_id).indexOf(id);
      this.carts.splice(i, 1);
      this.adjustDiscount();
    },

    customerChange(event) {
      this.customer_selected = true;
      console.log(event.target.value);
      console.log(this.customers);
      let i = this.customers
        .map((data) => data.id)
        .indexOf(parseInt(event.target.value));

      //set discount
      this.customer = this.customers[i];
      this.adjustDiscount();
    },
    adjustDiscount() {
      this.sub_total = this.carts.reduce((acc, item) => acc + item.nominal, 0);

      if (this.customer_selected) {
        let discount = this.customer.diskon;
        let discount_type = this.customer.tipe_diskon;
        if (discount_type == "persentase") {
          this.diskon = ((discount / 100) * this.sub_total).toFixed(2);
        } else {
          this.diskon = discount;
        }
      }
      this.grand_total = this.sub_total - this.diskon;
    },
    bayar() {
      if (!this.customer_selected) {
        alert("pilih customer terlebih dahulu");
        return false;
      }
      this.pesanan = {
        customer_id: this.customer.id,
        item: this.carts,
        qty: this.carts.reduce((acc, item) => acc + item.qty, 0),
        total_diskon: this.diskon,
        total_harga: this.sub_total,
        total_bayar: this.grand_total,
      };
      this.axios
        .post("http://localhost:8000/api/sale/create", this.pesanan)
        .then((response) => {
          if (response.data.success) {
            this.customer_id = "";
            this.sub_total = "";
            this.diskon = 0;
            this.grand_total = "";
            this.customer_selected = false;
            this.pesanan = {};
            this.carts = [];
            this.products=[];
            this.axios
              .get("http://localhost:8000/api/item/")
              .then((response) => {
                this.products = response.data.data.list;
                console.log(this.products);
              });
          } else {
            alert(response.data.message);
          }
        })
        .catch((err) => console.log(err))
        .finally(() => (this.loading = false));

      console.log(this.pesanan);
    },
  },
};
</script>
