<template>
  <div>
    <h2 class="text-center">sales List</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Tanggal</th>
          <th>Customer</th>
          <th>Diskon</th>
          <th>Harga</th>
          <th>Harga Bayar</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="sale in sales" :key="sale.id">
          <td>{{ sale.id }}</td>
          <td>{{ sale.code_trx }}</td>
          <td>{{ sale.tgl_trx }}</td>
          <td>{{ sale.customer }}</td>
          <td>{{ sale.total_diskon }}</td>
          <td>{{ sale.total_harga }}</td>
          <td>{{ sale.total_bayar }}</td>
          <td>
            <div class="btn-group" role="group">
              <button
                class="btn btn-danger"
                @click="deletesale(sale.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sales: [],
    };
  },
  created() {
    this.axios.get("http://localhost:8000/api/sale/").then((response) => {
      this.sales = response.data.data.list;
      console.log(response);
    });
  },
  methods: {
    deletesale(id) {
      this.axios
        .delete(`http://localhost:8000/api/sale/delete/${id}`)
        .then((response) => {
          let i = this.sales.map((data) => data.id).indexOf(id);
          this.sales.splice(i, 1);
        });
    },
  },
};
</script>
